@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@media (min-width: 1536px) {
  .signin_right_div {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  }
}

@media (min-width: 768px) {
  .signin_right_div {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  }
}
